**/__pycache__/
**/experiments/**/*.txt
**/experiments/**/joint/
**/experiments/**/model/
**/experiments/**/predictions/
**/experiments/**/predict-dev/
**/experiments/**/predict-test/
**/data/word2vec/
